.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    z-index: 100;
    user-select: none; /* Запрет выделения текста для удобства перетаскивания */
}
.modal-header {
    background: #f1f1f1;
    padding: 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content {
    padding: 10px;
}
.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.resize-handle {
    width: 10px;
    height: 10px;
    background: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
}